.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  .contact-container p {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .input-fields {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical; 
  }

  .form-container{
    display: grid;
  }
  
  .contact-button {
    width: 70%;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31588e;
    transition: background-color 0.5s ease ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-button:hover {
    background-color: #13315C;
  }
